.header {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 10px;
}

.header img {
  padding: 0 20px;
  width: 100%;
  max-width: 300px;
}

.header-links {
  padding-top: 30px;
}

.header-links a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
}

@media screen and (min-width: 645px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .header-links {
    padding-top: 0 !important;
  }
}
