.header {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 28px 10px;
}

.brand {
  cursor: pointer;
}

.header img {
  padding: 0 20px;
  width: 100%;
  max-width: 300px;
}

.header-links {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-links a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.header-links a:hover {
  color: rgb(128, 128, 128) !important;
}

@media screen and (min-width: 645px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .header-links {
    padding-top: 0 !important;
  }
}
