.property-container {
  padding: 10px !important;
  margin: 60px auto;
  max-width: 500px;
  padding: 10px !important;
  width: 100%;
}

.property-container table {
  margin: 0 auto;
  max-width: 500px !important;
}

.property-list-title {
  font-weight: 600;
  padding-bottom: 0.8rem;
  text-align: center;
}
